/*estilos*/
body{
  margin: 0;
}
nav{
  background-color: black;
  position: relative;
}
#logo{
  text-align: center;
}
#menu{
  position: absolute;
  top: 0px;
  width: 52px;
  height: 52px;
  left: 15px;
}
#menu .linea{
  height: 1px;
  width: 25px;
  background: white;
  position: absolute;
  left: 15px;
}
#menu .linea:nth-child(1){
  top: 20px;
  transition: all .45s;
}
#menu .linea:nth-child(2){
  top: 27px;
  transition: all .45s;
}
#menu.abierto .linea:nth-child(1){
  transform: rotate(45deg);
  top: 27px;
  transition: all .45s;
}
#menu.abierto .linea:nth-child(2){
  transform: rotate(-45deg);
  top: 27px;
  transition: all .45s;
}
